:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --step-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #031344;
}

.container {
  text-align: center;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  max-width: 35rem;
  max-height: auto;
}

h1 {
  color: darkblue;
  letter-spacing: 2px;
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-5);
  display: block;
  margin: 2rem auto;
}

p {
  color: grey;
  margin: 2rem 0;
  font-size: var(--step-0);
}

.btn-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  background: none;
  color: darkblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--step--1);
  font-weight: bold;
  border: 2px solid darkblue;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 100ms ease;
}

button:hover {
  color: white;
  background-color: darkblue;
}

button:focus {
  outline: 3px solid deepskyblue;
}

@media (min-width: 20rem) and (max-width: 50rem) {
  .container {
    max-width: 20rem;
    border-radius: 1rem;
  }
  /* 
  h1 {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-5);
  } */

  button {
    width: 100%;
  }
}

.additional-info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.additional-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
  width: 100%;
  font-size: var(--step-0);
}

@media (width < 50rem) {
  .additional-info-container {
    text-align: center;
  }

  .additional-text {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: auto;
  }
}

.error {
  font-size: var(--step-0);
  flex-basis: 1;
  color: #e32636;
  display: none;
  /* flex-grow: 2; */
}
